html,
body {
  all: initial;

  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  cursor: default;

  text-align: left;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;

  --controls-padding: 3px;
}

.wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.bgimg {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;

  font-weight: bold;
  text-align: center;
  background-size: cover;
}

canvas {
  width: 100%;
  max-height: 100%;
}

canvas:focus-visible {
  outline: 2px solid blue;
  outline: 5px auto Highlight;
  border-radius: 2px;
}

.player-controls {
  opacity: 0;
  transition: opacity 0.2s;

  display: flex;
  align-items: center;
  gap: 3px;

  width: 100%;
  padding: var(--controls-padding);
  box-sizing: border-box;

  pointer-events: none;
}

.player-controls > * {
  pointer-events: all;
}

.wrapper:hover .player-controls,
.wrapper:focus-within .player-controls,
.bgimg .player-controls,
.player-controls.force-show {
  opacity: 100%;
}

.controls-top {
  position: absolute;
  top: 0;
}

.controls-bottom {
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  background: linear-gradient(to bottom, #0000, #0006 16px, #0009);
}

button:not([disabled]) {
  cursor: pointer;
}

button.icon-button {
  width: 22px;
  height: 22px;
  padding: 3px 2px;
}

button.icon-button > img {
  width: 100%;
  height: 100%;
  display: block;
}

.progress-bar {
  flex-grow: 1;
  height: 10px;
  /* background-color: red; */
  border: solid 1px black;
  background-color: #80808080;

  > div {
    height: 100%;
    background-color: red;
  }

  &.editable {
    cursor: pointer;
  }
}

.frame-counter {
  text-align: right;
  user-select: none;
}

.options-dropdown {
  position: absolute;
  left: 1px;
  font-size: 13px;

  width: max-content;
  padding: 0.1em 0.5em;

  background: #666c;

  display: grid;
  grid-template-columns: auto max-content;
  grid-auto-rows: min-content;
  line-height: 1.5em;
  row-gap: 0.25em;
  column-gap: 0.5em;
  align-items: center;
  z-index: 1;

  user-select: none;
}

.speed-control {
  width: 9.5em;
}

.options-dropdown .right {
  justify-self: right;
}

.options-dropdown .span {
  grid-column: 1 / -1;
  width: fit-content;
}

.options-dropdown a {
  color: #50c0ff;
}

.options-dropdown a:active {
  color: #5070ff;
}

input[type="range"] {
  vertical-align: middle;
  margin: 0;
  width: 6em;
}

input[type="checkbox"] {
  vertical-align: middle;
}

.resize-handle {
  width: 16px;
  height: 16px;
  margin-bottom: calc(-1 * var(--controls-padding));
  margin-right: calc(-1 * var(--controls-padding));
  margin-left: -5px;
  align-self: end;

  cursor: nw-resize;
  user-select: none;

  img {
    width: 100%;
    height: 100%;
  }
}

.move-handle {
  width: 21px;
  height: 21px;
  margin-left: auto;
  user-select: none;
  cursor: grab;

  img {
    width: 100%;
    height: 100%;
  }
}

.move-handle.grabbed {
  cursor: grabbing;
}
